* {
    margin: 0;
    padding: 0;
    outline: 0;
}

@font-face {
    font-family: 'GothamProBold';
    src: url("fonts/GothamProBold.ttf") format('truetype');
    src: url("fonts/GothamProLight.ttf") format('truetype');
    src: url("fonts/GothamProMedium.ttf") format('truetype');
    src: url("fonts/GothamProRegular.ttf") format('truetype');
}

body {
    width: 100%;
    font-family: "GothamProRegular", Arial, sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 65px;
    background-color: #f1a42d;
}
.w100,
.img-responsive {
    width: 100%
}

header .container{
    padding: 10px;
}

header .items{
    padding: 10px;
}

header .navbar-collapse{
    background-color: #f1a42d;
}
.nav-side li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 85px;
    margin-top: 20px;
}


.main-container-fluid {
    width: 100%;
}

.main-container {
    max-width: 1520px;
    margin: auto 30px;
}

#btn-call {
    /*background-color: #ffc842;*/
    background: linear-gradient(to bottom, #F6EFD2, #ffc842);
    border: none;
    border-radius: 15px;
    color: #000;
    padding: 5px;
    margin-left: 70px;
}

#btn-call > a{
    text-decoration: none;
    color: #000;
}

#btn-main-call {
    text-transform: uppercase;
    background: linear-gradient(to bottom, #F6EFD2, #ffc842);
    color: #000;
    border: 3px solid #F6EFD2;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    position: relative;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
#btn-main-call > a{
    text-decoration: none;
    color: #000;
}


header .items {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

header .navbar-dark .navbar-nav .nav-link{
    color: #000;
    margin-right: 50px;
}


.section-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin: 20px;
    font-family: "GothamProBold" , Arial, sans-serif;
}

.lawyer {
    background-image: url(pictures/backgroundlawyer.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.dots{
    background-image: radial-gradient(#212121 , transparent 10%), radial-gradient(#000000 10%, transparent 10%);
    background-size: 40px 47px;
    width: 65%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: -100px;
}

.price-dots-left{
    background-image: radial-gradient(#212121 , transparent 10%), radial-gradient(#000000 10%, transparent 10%);
    background-size: 40px 47px;
    width: 35%;
    height: 21%;
    position: absolute;
    top: 2300px;
    left: 0;
}

.price-dots-right{
    background-image: radial-gradient(#212121 , transparent 10%), radial-gradient(#000000 10%, transparent 10%);
    background-size: 40px 47px;
    width: 38%;
    height: 23%;
    position: absolute;
    top: 2300px;
    right: 0;
}

.lawyer-inner {
    height: 840px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}

.lawyer-inner .left {
    position: absolute;
    position: absolute;
    width: 650px;
    bottom: -140px;
    left: -140px;
}

.lawyer-inner .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.lawyer-inner .center .center-title {}

.lawyer-inner .center .center-subtitle {
    text-align: right;
    text-transform: uppercase;
}

.lawyer-inner .right {
    position: absolute;
    width: 650px;
    bottom: 0px;
    right: 0;
}

.counter {
    /* border: 5px solid #000; */
    margin-top: 20px;
    background-image: url(pictures/каунтер.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.counter-inner {
    min-height: 300px;
    padding: 30px;
}

.counter .item .ico {
    width: 100px;
    height: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    justify-content: center;
}

.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.block-row-item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-top: -180px;
}

.row-title {
    display: flex;
    justify-content: center;
}

.counter-inner .item {
    margin-top: 100px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#needhelp {
    text-transform: uppercase;
    color: #f1a42d;
}

.num {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;

}

.text {
   color: #fff;
    width: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.block-items {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    position: relative;
    margin: 0 auto;
}

.nav-link {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}


.lawyer .items {
    margin-top: 440px;
}

.lawyer .items #item {
    text-align: center;
}

.center-subtitle {
    margin-top: 10px;
    color: #fff;
}

.info-title {
   font-family: "GothamProBold",Arial, sans-serif;
}

.information .items {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.information #item {
    margin-top: 20px;
}

.price {
    height: 450px;
}

.block-price {
    position: relative;
    top: 80px;
    width: 300px;
    margin: 0 auto;
}

.advantages {

}

.advantages .items #item {
    position: relative;
    margin: 0 auto;
    width: 260px;
    margin-top: 220px;
    text-transform: uppercase;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 1px 0px 6px rgba(214, 214, 214, 0.21);
    -moz-box-shadow: 0px 1px 0px 6px rgba(214, 214, 214, 0.21);
    box-shadow: 0px 1px 0px 6px rgba(214, 214, 214, 0.21);
    height: max-content;
    padding: 50px;
}

.advantages img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.advantages p {
    margin: 0 auto;
    position: relative;
    top: 10px;
}

#wishes {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 85px;
}

#tr {
    color: #f1a42d;
}

.advantages #item {
    margin-top: 165px;
}
.advantages-text{
    text-transform: uppercase;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-transform: uppercase;
}

footer {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    padding: 20px 0;
}
footer .map {
    width: 100%;
    height: 250px;
    margin-top: 50px;
}
footer .items #item {
    text-align: center;
}

.contacts {
    display: flex;
    width: 200px;
    /* margin-top: 50px; */
    /* flex-direction: column; */
    /* align-content: center; */
    margin: 0 auto;
    justify-content: center;
    position: relative;
}
.row-text{
    display: flex;
    justify-content: center;
}
#sertificate {
    margin-top: 50px;
}


.footer-ico{
        display: flex;
    justify-content: center;
    margin-top: 50px;
}
#loc {
    width: 20px;
    height: 30px;
}

#facebook {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#phone {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
}

#pricelogo {
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
    top: 20px;
}

#pricelogo img {
    position: absolute;
    margin: auto;
}

.yellowLine {
    width: 125px;
    height: 10px;
    background-color: rgba(249, 191, 59, 0.6);
    position: absolute;
    top: 13px;
}

#myForm {
    display: none;
}

.block-color-orange {
    width: 85%;
    background: orange;
    height: 8%;
    /* margin: 10px auto; */
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
}

.block-colol-black{
    width: 11%;
    height: 220px;
    /* height: 48%; */
    position: relative;
    top: 20px;
    left: 40px;
    background: #000;
}

.information .item{
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-left: 100px;
}

.block-text{
    color: orange;
    position: absolute;
    bottom: 0;
    /* top: 0; */
    margin-left: 25px;
    font-family: "GothamProBold", Arial, sans-serif;
}

.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.dm-title{
    text-align: center;
    color: #000;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: "GothamProBold", Arial, sans-serif;
}
/* активируем модальное окно */

.dm-overlay:target {
    display: block;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    z-index: 99999;
}
/* блочная таблица */

.dm-table {
    display: table;
    width: 100%;
    height: 100%;
    font-family: "GothamProRegular", Arial, sans-serif;
}
/* ячейка блочной таблицы */

.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}
/* модальный блок */

.dm-modal {
    display: inline-block;
    width: 100%;
    max-width: 50em;
    background: #fff;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    color: #000;
    text-align: left;
}
/* изображения в модальном окне */

.dm-modal img {
    width: 100%;
    height: auto;
}
/* миниатюры изображений */

.pl-left,
.pl-right {
    width: 25%;
    height: auto;
}
/* миниатюра справа */

.pl-right {
    float: right;
    margin: 5px 0 5px 15px;
}
/* миниатюра слева */

.pl-left {
    float: left;
    margin: 5px 15px 5px 0;
}
/* встраиваемое видео в модальном окне */

.video {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* рисуем кнопарь закрытия */

.close {
    z-index: 9999;
    float: right;
    width: 30px;
    height: 30px;
    color: #000;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    cursor: pointer;
}
.close:after {
    display: block;
    border: 2px solid #cfd8dc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: 'X';
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}
/* кнопка закрытия при наведении */

.close:hover:after {
    border-color: #fff;
    color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
/* варианты фонвой заливки модального блока */

.green {
    background: #388e3c!important;
}
.cyan {
    background: #0097a7!important;
}
.teal {
    background: #00796b!important;
}
/* движуха при появлении блоков с содержанием */

@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
.block-form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.sendBtn{
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    width: 20%;
    text-align: center;
    margin-left: 15px;
    padding: 10px;
    background: linear-gradient(to bottom, #F6EFD2, #ffc842);
}

.name{
    background-color: #cccccc;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
}

.number{
    background-color: #cccccc;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
}

#text-message{
    background-color: #cccccc;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
}


#triangle-down {
    width: 0;
    height: 0;
    position: relative;
    margin: 0 auto;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 30px solid #f1a42d;
}

.header-center-txt{
    display: flex;
    flex-direction: column;
}

header .icon{
    margin-left: 185px;
}
