* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    height: 65px;
    background-color: #ffc842;
}

.nav-side li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 85px;
    margin-top: 20px;
}

header {
    height: 150px;
}

.main-container {
    width: 1530px;
    margin: 0 auto;
}

#btn-call {
    background-color: #ffc842;
    border: none;
    border-radius: 15px;
    color: #000;
    padding: 5px;
}

#btn-main-call {
    text-transform: uppercase;
    background-color: #ffc842;
    color: #000;
    border: none;
    border-radius: 10px;
    width: 425px;
    height: 85px;
}

.items {
    height: 87px;
    display: flex;
    justify-content: center;
}

#item {
    margin-right: 255px;
}

.lawyer {
    height: 840px;
    background-image: url(pictures/backgroundlawyer.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

#txt {
    width: 623px;
    text-transform: uppercase;
    position: relative;
    margin: 0 auto;
    top: 300px;
    color: #fff;
}

#author {
    text-transform: uppercase;
    margin: 0 auto;
    position: relative;
    width: 160px;
    color: #fff;
}

#needhelp {
    text-transform: uppercase;
    color: #f1a42d;
}

.counter {
    height: 300px;
    border: 5px solid #000;
    margin-top: 20px;
    background-image: url(pictures/каунтер.png);
}

.counter #item {
    font-size: 10%;
}

.block-items {
    display: flex;
    justify-content: center;
}

.lawyer .items {
    margin-top: 440px;
}

.lawyer .items #item {
    text-align: center;
}

.information {
    height: 845px;
    border: 5px solid green;
}

.price {
    height: 350px;
    border: 5px solid orange;
}

.block-price {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.advantages {
    height: 1063px;
    margin-top: 185px;
    border: 5px solid pink;
}

#wishes {
    text-transform: uppercase;
    width: 720px;
    text-align: center;
    margin: 0 auto;
    padding-top: 85px;
}

#tr {
    color: #f1a42d;
}

.advantages .items #item {
    margin-top: 175px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #000;
    height: 515px;
    width: 495px;
    margin-left: 120px;
}

.advantages #item {
    margin-top: 165px;
}

.advice {
    height: 555px;
    margin-top: 180px;
    border: 5px solid blue;
}

.title {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

footer {
    background-color: #eee5d8;
    height: 650px;
    border: 5px solid #fd0;
}

footer .items #item {
    text-align: center;
}

#contact {
    margin-top: 50px;
}

#sertificate {
    margin-top: 50px;
}

iframe {
    width: 384px;
    height: 468px;
    margin-top: 50px;
}

#loc {
    width: 20px;
    height: 30px;
    margin-right: 5px;
    margin-top: 4px;
}

#facebook {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#phone {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
}

#ivko {
    height: 775px;
    float: right;
}

#owl {
    height: 1050px;
    position: relative;
    right: 110px;
    top: -92px;
}

#pricelogo {
    width: 100%;
    height: 100%;
    position: relative;
    top: 20px;
}

#pricelogo img{
    position: absolute;
     margin: auto;

}