* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 65px;
    background-color: #ffc842;
}

h3 {
    color: #fff;
}

.w100,
.img-responsive {
    width: 100%
}

.nav-side li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 85px;
    margin-top: 20px;
}

header {
    height: 150px;
}

.main-container-fluid {
    width: 100%;
}

.main-container {
    max-width: 1520px;
    margin: auto 30px;
}

#btn-call {
    background-color: #ffc842;
    border: none;
    border-radius: 15px;
    color: #000;
    padding: 5px;
}

#btn-main-call {
    top: 200px;
    text-transform: uppercase;
    background-color: #ffc842;
    color: #000;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

header .items {
    height: 87px;
    display: flex;
    justify-content: space-around;
}

.section-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.lawyer {
    background-image: url(pictures/backgroundlawyer.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.lawyer-inner {
    height: 840px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}

.lawyer-inner .left {
    position: absolute;
    position: absolute;
    width: 650px;
    bottom: -140px;
    left: -140px;
}

.lawyer-inner .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.lawyer-inner .center .center-title {}

.lawyer-inner .center .center-subtitle {
    text-align: right;
}

.lawyer-inner .right {
    position: absolute;
    width: 650px;
    bottom: 0px;
    right: 0;
}

.counter {
    /* border: 5px solid #000; */
    margin-top: 20px;
    background-image: url(pictures/каунтер.png);
}

.counter-inner {
    min-height: 300px;
    padding: 30px;
}

.counter .item .ico {
    width: 100px;
    height: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    justify-content: center;
}

.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.row-title {
    display: flex;
    justify-content: center;
}

.row .item {
    margin-top: 100px;
    margin: 10px auto;
}

#needhelp {
    text-transform: uppercase;
    color: #f1a42d;
}

.num {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;

}

.text {
   color: #fff;
    width: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.block-items {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    position: relative;
    margin: 0 auto;
}

.nav-link {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}


.lawyer .items {
    margin-top: 440px;
}

.lawyer .items #item {
    text-align: center;
}

.center-subtitle {
    margin-top: 10px;
    color: #fff;
}

.information {
    height: 750px;
}

.information .items {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    ye
}

.information #item {
    margin-top: 20px;
}

.price {
    height: 450px;
}

.block-price {
    position: relative;
    top: 80px;
    width: 300px;
    margin: 0 auto;
}

.advantages {
    height: 760px;
}

.advantages .items #item {
    position: relative;
    margin: 0 auto;
    width: 260px;
    margin-top: 220px;
    text-transform: uppercase;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 1px 0px 6px rgba(214, 214, 214, 0.21);
    -moz-box-shadow: 0px 1px 0px 6px rgba(214, 214, 214, 0.21);
    box-shadow: 0px 1px 0px 6px rgba(214, 214, 214, 0.21);
    height: max-content;
    padding: 50px;
}

.advantages img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.advantages p {
    margin-top: 60px;
}

#wishes {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 85px;
}

#tr {
    color: #f1a42d;
}

.advantages #item {
    margin-top: 165px;
}
.advantages-text{
    text-transform: uppercase;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-transform: uppercase;
}

footer {
    background-color: #eee5d8;
    height: 650px;
}

footer .items #item {
    text-align: center;
}

.contacts {
    display: flex;
    width: 200px;
    margin-top: 50px;
    flex-direction: column;
}
.row-text{
    display: flex;
    justify-content: center;
}
#sertificate {
    margin-top: 50px;
}

iframe {
    width: 384px;
    height: 468px;
    margin-top: 50px;
}
.footer-ico{
        display: flex;
    justify-content: center;
    margin-top: 50px;
}
#loc {
    width: 20px;
    height: 30px;
    margin-right: 5px;
    margin-top: 4px;
}

#facebook {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#phone {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-right: 5px;
}

#pricelogo {
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
    top: 20px;
}

#pricelogo img {
    position: absolute;
    margin: auto;
}

.yellowLine {
    width: 125px;
    height: 10px;
    background-color: rgba(249, 191, 59, 0.6);
    position: relative;
    left: 110px;
    top: 30px;
}

#myForm {
    display: none;
}

.block-color-oragne {
    width: 300px;
    height: 300px;
    background-color: #f1a42d;
}