
@media screen and (max-width: 1500px) {
    .lawyer-inner .left{
        width: 500px;
        bottom: -125px;
        left: -100px
    }
    .lawyer-inner .center{
        width: 400px;
    }
    .lawyer-inner .right{
        width: 500px;
    }
}
@media (min-width: 1200px){
    .container {

      max-width: 1520px;
    }

}
@media screen and (max-width: 1200px) {
    .contacts{
        margin-left: 70px;
    }
}
@media screen and (max-width: 968px) {
    .lawyer-inner .right{
        width: 350px;
    }
    .price-dots-right{
        top: 2717px;
        width: 28%;

    }
    .price-dots-left{
        top: 2717px;

    }

    header .container .phone-number{
        margin-top: 20px;
        margin-left: -30px;
    }
    #loc{
        left: 80px;
    }
}
@media screen and (max-width: 768px) {
    header .items{
        display: flex;
        justify-content: center;
    }
    .lawyer{
        height: 500px;
    }
    .lawyer-inner .left{
        width: 300px;
        bottom: 270px;
        left: -78px;
    }
    .lawyer-inner .center{
        margin-bottom: 450px;
    }
    .lawyer-inner .right{
        bottom: 340px;
        width: 220px;
    }
    .main-container .item{

    }
    .advantages-text{
        margin: 0 auto;
    }
    header .items{

    }
    .block-colol-black{
        width: 15%;
    }
    .block-text{
        font-size: 20px;
    }
    .dots{
        z-index: 999;
        background-image: radial-gradient(#212121 , transparent 10%), radial-gradient(#000000 10%, transparent 10%);
        background-size: 70px 60px;
        width: 67%;
        height: 30%;
        position: absolute;
        bottom: 350px;
        left: -100px;
    }
    .dm-table{

        margin: 0 auto;
    }
    .price-dots-left{
        display: none;
    }
    .price-dots-right{
        display: none;
    }

    .lawyer #triangle-down{
        display: none;
    }
    #loc{
        left: 30px;
    }
}
@media screen and (max-width: 576px) {
    .lawyer{
        height: 450px;
    }
    .lawyer-inner .left{
        bottom: 340px;
        width: 200px;
        left: -45px;

    }
    .center-title{
        font-size: 80%;
        width: 240px;
    }
    .lawyer-inner .right{
        width: 160px;
        bottom: 390px;
        right: -15px;
    }
    .block-color-orange{
        height: 5%;
        margin-top: 0;
    }
    .block-colol-black{
        display: none;
    }
    .block-text{
        display: none;
    }
    .block-row-item{
        margin-top: 0;
    }
    .information .item{
        margin-left: 50px;
    }
    .sendBtn{
        width: 100%;
        margin-left: 0;
    }

    header .container .phone-number{
        margin-left: -85px;
    }

    #loc{
        left: 40px;
    }
}