
@media screen and (max-width: 1500px) {
    .lawyer-inner .left{
        width: 500px;
        bottom: -125px;
        left: -100px
    }
    .lawyer-inner .center{
        width: 400px;
    }
    .lawyer-inner .right{
        width: 500px;
    }
}
@media (min-width: 1200px){}
    .container {
   
      max-width: 1520px;
    }
}
@media screen and (max-width: 1200px) {
.contacts{
    margin-left: 70px;
    }
}
@media screen and (max-width: 968px) {
    .lawyer-inner .right{
        width: 350px;
    }
    .dm-modal{
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .lawyer{
        height: 500px;
    }
    .lawyer-inner .left{
        width: 350px;
        bottom: 250px;
        left: -100px;
    }
    .lawyer-inner .center{
        margin-bottom: 450px;
    }
    .lawyer-inner .right{
        bottom: 340px;
        width: 250px;
    }
    .main-container .item{
        display: none;
    }
    .advantages-text{
        margin: 0 auto;
    }
    header .items{
        display: none;
    }
    .block-colol-black{
        width: 15%;
    }
    .block-text{
        font-size: 30px;
    }
    .dots{
        z-index: 999;
        background-image: radial-gradient(#212121 , transparent 10%), radial-gradient(#000000 10%, transparent 10%);
        background-size: 70px 60px;
        width: 67%;
        height: 30%;
        position: absolute;
        bottom: 350px;
        left: -100px;
    }
    .dm-table{
        width: 60%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 576px) {
    .lawyer{
        height: 450px;
    }
    .lawyer-inner .left{
        bottom: 320px;
        width: 245px;
        margin-left: 35px;
    }
    .center-title{
        font-size: 80%;
        width: 240px;
    }
    .lawyer-inner .right{
        width: 170px;
        bottom: 390px;
        right: -20px;
    }
    header .items{
        display: none;
    }
    .block-color-orange{
        height: 5%;
        margin-top: 0;
    }
    .block-colol-black{
        display: none;
    }
    .block-text{
        display: none;
    }
    .block-row-item{
        margin-top: 0;
    }
    .information .item{
        margin-left: 50px;
    }
}